@model Enfermo

<h1>Detalle Enfermo</h1>
<h2>@ViewBag.Mensaje</h2>
<p><a asp-controller="Enfermos" asp-action="Index">Back</a></p>
@if(Model != null){
<ul class="list-group">
    <li class="list-group-item-primary">
        @Model.Apellido
    </li>
    <li class="list-group-item-warning">
        @Model.Direccion
    </li>
    <li class="list-group-item-warning">
        @Model.FechaNacimiento
    </li>
    <li class="list-group-item-warning">
        @Model.NumSegSocial
    </li>
</ul>
}